# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker output
*.map

# Libraries
*.lib
*.a

# Executables
*.exe
*.out
*.hex

# Directory structures to ignore
/src/build/
/src/dist/
/src/nbproject/private/

# Generated project files
/src/nbproject/Makefile-*
/src/nbproject/*.bash

# Various temporary/backup files
*.bak
*-bak
*.bck
_saved*.sch
_autosave-*.kicad_pcb

*.sw[op]

# Various
board/stockton-stem-badge.xml
board/stockton-stem-badge.csv
