# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker output
*.map

# Libraries
*.lib
*.a

# Executables
*.exe
*.out
*.hex

# Directory structures to ignore
/src/build/
/src/dist/
/src/nbproject/private/

# Various temporary/backup files
*.bak
*-bak
*.bck
_saved*.sch
*.sw[op]

board/stockton-stem-badge.xml
